{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1><span class="smaller">Welcome to</span> <span class="font-semi-bold smaller">Panta</span></h1>
  <p>
    Panta is a high-level Python web framework built on Pyramid. It provides
    a full stack envirionment with options for the form, orm and templating
    libraries integrated together to ease the development process.
  </p>
</div>
{% endblock content %}
